global-reset()

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

button
input[type="reset"]
input[type="button"]
input[type="submit"]
  &::-moz-focus-inner
    padding: 0
    margin: 0
    border: 0

input, button, select
  margin: 0
  padding: 0
  border: 0

html, body
  @media screen
    height: 100%
    // overflow: hidden

body
  background: #fff
  font-size: font-size
  font-family: font-sans
  color: color-default
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow-x: hidden

.wrapper
  clearfix()
  @media screen
    max-width: max-width
    margin: 0

.inner
  clearfix()
  @media screen
    padding: 0 gutter-width

#content-wrap
  background: color-content
  position: absolute
  left: 0
  top: 70px
  bottom: 0
  right: 0
  @media mq-normal
    left: sidebar-width

#index-content-wrap
  background: color-content
  position: relative
  margin: 0

#content-wrap-404
  background: color-content
  position: relative
  margin: 100px 0

