#footer
  clearfix()
  padding: 20px 0
  color: rgba(255, 255, 255, 0.6)
  font-family: font-title
  position: relative
  background-image: linear-gradient(to left, rgb(72, 72, 72), rgb(45, 45, 45));
  text-align: center
  @media mq-normal
    text-align: left
  @media print
    display: none
  a
    color: inherit
    text-decoration: none
    transition: 0.2s
    &:hover
      color: #fff

#footer-copyright
  line-height: 1.4
  font-size: 14px
  @media mq-normal
    float: left
  a
    font-weight: bold

#footer-links
  margin-top: 1em
  @media mq-normal
    float: right
    margin-top: 0

.footer-link
  font-size: 30px
  margin-left: 20px
  &:first-child
    margin-left: 0