header-padding-normal = 10px
header-padding-max = 30px
logo-size = 50px

#header
  z-index: 10000
  //background-image: url("https://cdn.objectia.com/assets/img/bg-dark-pattern.png");
  background-color: #fff 
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 16px -4px;
  position: fixed
  top: 0
  left: 0
  height: 70px
  width: 100%
  display: block
  padding: 10px 5px
  -webkit-transform:translate3d(0,0,0)
  @media print
    display: none

#header-inner
  display: flex
  flex-flow: row nowrap
  align-items: center
  height: 50px
  @media mq-mobile
    justify-content: center

#logo-button 
  text-decoration: none 
  font-size: 12px 
  font-weight: bold
  background-color: #1f87f0
  padding: 5px
  border-radius: 5px
  margin-left: 10px
  margin-right: 30px
  color: #fff
  @media mq-mobile
    display: none

#main-nav
  display: none
  flex: 1 auto
  padding-left: 20px
  @media mq-normal
    display: block

.main-nav-link
  color: #333
  font-weight: menu-font-weight
  font-size: 14px
  text-decoration: none
  text-transform: uppercase
  line-height: logo-size
  transition: 0.2s
  font-family: font-title
  display: inline-block
  padding: 0 10px 
  &:hover
    color: #777
    text-decoration: none

.main-search-link
  color: #333
  font-weight: menu-font-weight
  font-size: 14px
  text-decoration: none
  text-transform: uppercase
  line-height: logo-size
  transition: 0.2s
  font-family: font-title
  display: inline-block
  padding: 0 10px 
  &:hover
    color: #777

#search-icon 
  display: none
  font-size: 20px
  position: fixed
  top: 24px
  right: 20px
  @media mq-normal
    display: block

#search-input
  font-size: inherit
  font-family: font-title
  color: #333
  outline: none
  -webkit-appearance: none
  width: 400px
  padding: 5px
  border: 1px solid #ccc
  display: none
  &:focus
    border: 1px solid #1f87f0
  @media mq-mobile
    display: none

