// Monokai theme

pre, code
  font-family: font-mono
  color: #f8f8f2
  background: #1f87f0
  font-size: 15px
  border-radius: 3px

code
  padding: 0 5px

pre
  color: #f8f8f2
  padding: 10px 15px
  line-height: 22px
  code
    border: none
    display: block
    padding: 0

.highlight
  width: 100% !important
  background: #272822
  padding: 10px 15px
  color: #f8f8f2
  overflow: auto
  margin: 0
  table
    margin: 0 !important
    border: 0
    th, td
      padding: 0
  figcaption
    clearfix()
    margin: -5px 0 5px
    font-size: 0.9em
    color: color-gray
    a
      float: right
  pre, code
    font-size: 13px
  pre
    color: #f8f8f2
    padding: 0
    border: none
    background: none
  .line
    height: 22px

pre
  .comment
    color: #75715e
  .number
  .params
    color: #fff
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: #f92672
  .preprocessor
  .built_in
  .literal
  .constant
    color: #f92672
  .class
  .ruby .class .title
  .css .rules .attribute
    color: white
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: #a6e22e
  .css .hexcolor
    color: #3e999f
  .function
  .title
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: #a6e22e
  .keyword
  .javascript .function
    color: #f92672