/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

pre {
	background-color: #f7f8f9 !important;
	border-radius: 0 !important;
	border: none !important;
	font-size: 13px !important;
}

code[class*="language-"],
pre[class*="language-"] {
	color: rgb(51, 51, 51);
	background: none;
	/*text-shadow: 0 1px white;*/
	font-family: "Roboto mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	/*border-radius: .3em;*/
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property {
	color: #159570;
	font-weight: normal;
}

.token.tag,
.token.boolean,
.token.constant,
.token.deleted {
	color: rgb(0, 117, 214);
	font-weight: 600;
}

.token.symbol {
	color: rgb(221, 17, 68);
	font-weight: normal;
}

.token.number {
	color: rgb(250, 117, 90);
	font-weight: normal;
}

.token.null {
	color: rgb(103, 114, 229);
	font-weight: 600;
}

.token.attr-name {
	color: rgb(0, 117, 214);
	font-style: italic;
	font-weight: normal;
}

.token.attr-value {
	color: rgb(21, 149, 112);
	font-weight: normal;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #159570;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.keyword {
	color: #6772e5;
	font-weight: 600;
}

.token.function,
.token.class-name {
	color: rgb(50, 151, 211);
	font-weight: 600;
}

.token.regex,
.token.important,
.token.variable {
	color: rgb(0, 128, 128);
	font-weight: normal;
	font-variant-numeric: proportional-nums;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}



pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}



pre .line-numbers {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 29px;
    width: 16px;
    counter-reset: linenumber;
    line-height: 19px;
    font-family: "Roboto mono", Source Code Pro, monospace
}

pre .line-numbers > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber
}

pre .line-numbers > span:before {
    content: counter(linenumber);
    color: #bec5ca;
    display: block;
    font-size: 13px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers .line-numbers-rows {
	border-right: none !important;
}

.line-numbers-rows > span:before {
	color: #bbb !important;
}

pre.language-bash .line-numbers-rows > span:first-child:before,
pre.language-curl .line-numbers-rows > span:first-child:before {
    content: "$";
}

pre.language-bash .line-numbers-rows > span:before,
pre.language-curl .line-numbers-rows > span:before {
    content: ">";
}
